[Unit]
Description=PiWatchdog Service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=piwatcher
ExecStart=piwatchdog.sh
ExecStop=piwatcher watch 0

[Install]
WantedBy=multi-user.target
